@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primaryColor : #28282B;
    --secondaryColor : #ffffff;

}

*{
    margin: 0;
    padding: 0;
}

body{
        font-family: "Poppins", sans-serif;
        font-style: normal;
        min-height: 100vh;
        background-image: url("https://images.unsplash.com/photo-1416339698674-4f118dd3388b?q=80&w=1936&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        backdrop-filter: blur(2px);
}

nav{
    background-color: var(--secondaryColor);
}

.wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding: 20px;
}

.right{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.right ul{
    width: 100%;
    display: flex;
    gap: 30px;
}

.right ul li a{
    text-decoration: none;
    height: fit-content;
    color: var(--primaryColor);
}

.right ul li a:hover{
    border-bottom: solid;
    background-color: #bebebe15;
    border-color: var(--primaryColor);
}

.right ul li{
    list-style: none;
    height: 30px;
    font-weight: 500;
    font-size: 1.5rem;
    gap: 20px;
}

.right li:first-child{
    margin-right: auto;
}

.right img{
    scale: 1.2;
}

.right img:hover{
    scale: 1.25;
    cursor:pointer;
}

.main{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main h1{
    color: white;
    padding: 10px;
    background-color: var(--primaryColor);
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    padding: 50px;
    width: 300px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.548);
    backdrop-filter: blur(3px);
    display: none;
    flex-direction: column;
}

.sidebar li{
    list-style: none;
    height: 30px;
    font-weight: 500;
    font-size: 1.5rem;
    gap: 20px;
    width: 100%;
}

.sidebar li a{
    text-decoration: none;
    height: fit-content;
    color: var(--primaryColor);
    width: 100%;
}

.sidebar li a:hover{
    border-bottom: solid;
    background-color: #bebebe15;
    border-color: var(--primaryColor);
}

.menu-btn{
    display: none;
}

@media(max-width:950px){
    .menu-btn{
        display: block;
    }
    .hide{
        display: none;
    }
}
